<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @event.summary %>
</p>

<p>
  <strong>Dtstart:</strong>
  <%= @event.dtstart %>
</p>

<p>
  <strong>Dtend:</strong>
  <%= @event.dtend %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
<%= link_to "Google Calendar に登録", "http://www.google.com/calendar/event?action=TEMPLATE&text=#{@event.summary}&dates=#{@event.dtstart.strftime('%Y%m%dT%H%M%SZ')}/#{@event.dtend.strftime('%Y%m%dT%H%M%SZ')}&details=#{@event.description}", target: :_blank%>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
